// default color set
$primary-color : #ff4500;
// color variation
$hover-color : #FF662D;

// body var

$bodyFont: 'Poppins', sans-serif;
$fontWeight: 400;
$bColor: #525252;
$bfSize: 16px;
$blineHeight: 26px;
$transition:all .5s;

