/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
	.section-title .text {
	    width: 65%;
	}
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
	.section-title .text {
	    width: 85%;
	}
}


/*  Small mobile :320px. */

@media (min-width: 320px) and (max-width: 767px) {
	.section-title .text {
	    width: 100%;
	}
}


/* Large Mobile :577px. */

@media only screen and (min-width: 577px) and (max-width: 767px) {
	
}